body {
    font-family: sans-serif;
    background-color: deepskyblue;
}

.main-container {
    margin: auto;
    margin-top: 35px;
    border: white solid 5px;
    border-radius: 10px;
    width: 700px;
    height: 700px;
    min-height: 500px;
    max-height: 100vh;
    overflow-y: auto;
    background-color: white;
}

.title {
    text-align: center;
    font-size: 25px;
    color: black;
}

.inputAndButton {
    text-align: center;
    input {
        width: 280px;
        height: 25px;
        margin-right: 10px;
        border: 3px solid dodgerblue;
        border-radius: 10px;
    }
    button {
        width: 40px;
        height: 35px;
        background-color: dodgerblue;
        border: deepskyblue;
        color: white;
        transition: 0.5s;
        border-radius: 15px;
    }

    button:hover {
        transform: translate(0,-3px);
        box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 1);
    }

}

.task-item {
    margin-bottom: 10px;
}

.title-tasks {
    text-align: center;
    font-size: 25px;
    color: black;
}

.tasks {
    font-size: 25px;
    text-align: left;
}

.themeChange {
    margin-right: 10px;
    margin-top: 20px;
    text-align: right;
    button {
        width: 40px;
        height: 40px;
    }
}
